.shareModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .share-btn-container {
    display: flex;
    flex-direction: row;
  }



  #shareBtn:hover{
    cursor: pointer;
  }

